{
	"my_name": "tcns0.joyent.us",
	"hostmaster": "hostmaster@joyent.us",
	"forward_zones": {
		"triton-hosted.io": {
			"networks": ["3484af3e-23db-4c63-8940-bf3e006347f3"],
			"peers": ["ns0.joyent.com", "ns1.joyent.com"],
			"hidden_primary": true
		},
		"tcns.joyent.us": {
			"networks": ["*"]
		}
	},
	"reverse_zones": {
		"peers": ["ns0.joyent.com", "ns1.joyent.com"],
		"hidden_primary": true
	},
	"allow_transfer": [
		"10.88.88.0/24"
	],

	"full_poll_interval": 10000,
	"reaper_poll_interval": 30000,

	"use_login": true,
	"use_alias": true,

	"redis_opts": {},

	"mahi_opts": {
		"address": "10.99.99.33"
	},

	"cnapi_opts": {
		"address": "10.99.99.22"
	},

	"vmapi_opts": {
		"address": "10.99.99.27",
		"limit": 200
	},

	"api_server": {
		"listen": ["127.0.0.1", "::1"]
	}
}
